img {
  height: 250px;
  width: auto;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 20px 20px rgb(199, 235, 247);
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(227, 244, 250);
}

.intro {
  display: flex;
}

.profile {
  justify-content: flex-start;
  padding-right: 160px;
  padding-left: 60px;
}

.profile > h1 {
  font-size: 45px;
}

.contact {
  justify-content: center;
  padding: 150px 60px 150px 50px;
}

.professional_summary {
  padding-top: 10px;
  font-size: medium;
}

.professional_summary > h1 {
  text-align: center;
}

.employment {
  padding-top: 30px;
}

.employment > h1 {
  text-align: center;
}

.census {
  padding-left: 30px;
  padding-right: 30px;
}

.census > h1,
h2,
h3 {
  font-size: 20px;
}

.kindergarten {
  padding: 20px;
}
