img {
  height: 200px;
  width: auto;
  padding: 20px;
}

#main_container {
  border: 2px solid purple;
}

.intro {
  display: flex;
}

.section2 {
  border: 2px dashed red;
  align-content: flex-end;
}

.profile {
  border: 2px dotted blue;
  justify-content: flex-start;
  padding-right: 200px;
}

.contact {
  border: 2px dotted green;
  justify-content: center;
  padding: 60px;
}

.professional_summary {
  border: 2px dotted orange;
  font-size: medium;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
